<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>650033072430-kv6l8k12b6tj2k4t2ebu8415gr3g6tgo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.650033072430-kv6l8k12b6tj2k4t2ebu8415gr3g6tgo</string>
	<key>API_KEY</key>
	<string>AIzaSyAL3KKa95R0zo-N0IclEU6jVHWX6899COY</string>
	<key>GCM_SENDER_ID</key>
	<string>650033072430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>togaminnnn.FirestoreSampleToDo</string>
	<key>PROJECT_ID</key>
	<string>fir-sampletodo</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-sampletodo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650033072430:ios:c525355ea163f240</string>
	<key>DATABASE_URL</key>
	<string>https://fir-sampletodo.firebaseio.com</string>
</dict>
</plist>